In [4]:
### 1.Write a program to convert specified days into years, weeks and days.Take user input.


days=int(input('Enter number of days:'))
years=days//365
rem_days=days%365
weeks=rem_days//7
days=rem_days%7
print("conversion is",years,"/",weeks,"/",days)

Enter number of days: 380

conversion is 1 / 2 / 1

In [2]:
 ''' 2. Write a Python program to input basiPython salary of an employee and
calculate its Gross salary according to following:
Basic Salary <= 10000 : HRA = 20%, DA = 80%
Basic Salary <= 20000 : HRA = 30%, DA = 90%
Basic Salary > 20000 : HRA = 35%, DA = 95%'''

basic= float(input('Enter the basic salary:'))
if basic <= 10000:
    da=basic*0.8
    hra=basic*0.2
    gross=basic+da+hra
elif basic <= 20000:
    da=basic*0.9
    hra=basic*0.95
    gross=basic+da+hra
else:
    da=basic*0.95
    hra=basic*0.3
    gross=basic+da+hra

print('Gross salary of employee are=',gross)

Enter the basic salary: 9000

Gross salary of employee are= 18000.0

In [5]:
'''3. Write a Python program to input electricity unit charges and calculate total
electricity bill according to the given condition:
For first 50 units Rs. 0.50/unit
For next 100 units Rs. 0.75/unit
For next 100 units Rs. 1.25/unit
For unit above 250 Rs. 1.50/unit
An additional surcharge of 17% is added to the bill
'''

units=int(input('Enter the number of units:'))
if units <=50:
    bill= (50*0.50)
elif units <=150:
    bill= (50*0.50) +(units-50)* 0.75
elif units <=250:
    bill= (50*0.50) +(100*0.75)+(units-150)*1.25
else:
    bill= (50*0.50) +(100*0.75)+(100*1.25)+(units-250)*1.50

surcharge=bill*0.17
total_bill=bill+surcharge

print('total bill after adding surcharge are=',total_bill)

Enter the number of units: 56

total bill after adding surcharge are= 34.515

In [13]:
### 4.Write a Python program to print the given number patterns.


rows=int(input('enter number of rows:'))
for n in range(rows+1):
    for i in range(n):
        print(n, end=" ")
    print()

enter number of rows: 5

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [16]:
###  5. Write a Python program to calculate product of digits of a number. Read value from user.

num=int(input('Enter the number:'))
product=1
while num!=0:
    rem=num%10
    product=product*rem
    num=num//10
print("product of digits of a number are =", product)

Enter the number: 78

product of digits of a number are = 56

In [7]:
### 6.Create a list of elements like: x = [45, 67, 12, ‘Hello’, 23.45, ‘World’] and perform following operation

x=[45,67,12,'Hello',23.45,'World']
x

[45, 67, 12, 'Hello', 23.45, 'World']

In [8]:
# 1. Extract only string values from this list.

x[3:6:2]

['Hello', 'World']

In [9]:
# 2. Create a new list with strings in upper case.
names=['Payal','Sonal','Sarthak','Shubhangi','Suhani','Vaishnavi','aarya','shubham']
[n.upper() for n in names ]

['PAYAL',
 'SONAL',
 'SARTHAK',
 'SHUBHANGI',
 'SUHANI',
 'VAISHNAVI',
 'AARYA',
 'SHUBHAM']

In [10]:
x

[45, 67, 12, 'Hello', 23.45, 'World']

In [11]:
# 3. Find the addition of integer values

int_sum= sum(n for n in x if isinstance(n,int))
print(int_sum)

124

In [7]:
#4. Check that the value 56 is present in it or not.

x

[45, 67, 12, 'Hello', 23.45, 'World']

In [8]:
56 in x

False

In [11]:
#5. Print the list in reverse order.

x.reverse()

In [12]:
x

['World', 23.45, 'Hello', 12, 67, 45]

In [13]:
#6. Delete the string ‘Hello’ from it.

x.remove('Hello')

In [14]:
x

['World', 23.45, 12, 67, 45]

In [15]:
#7. Insert a new value of 36 at 5th position in list.

x.insert(5,36)

In [16]:
x

['World', 23.45, 12, 67, 45, 36]

In [20]:
#8. Count total number of elements in list now.

len(x)

6

In [21]:
#9. Extract the values from 2nd index to 5th index.

x[2:6]

[12, 67, 45, 36]

In [24]:
#10. Append [34, ‘Pune’] to this list.

x.append([34,'Pune'])

In [25]:
x

['World', 23.45, 12, 67, 45, 36, [34, 'Pune']]

In [27]:
#11. Delete the last element from list.

del x[6]
x

['World', 23.45, 12, 67, 45, 36]

In [31]:
###7. Create a tuple of elements with 5 float values in it and perform following operations

t=(11.2,45.9,34.8,23.7,12.6)
t

(11.2, 45.9, 34.8, 23.7, 12.6)

In [36]:
#1. Print the data in sorted manner.

def sort(t):
    return sorted(t)

print(sort(t))

[11.2, 12.6, 23.7, 34.8, 45.9]

In [38]:
#2. Check to see that the element 50 is present in it.

50 in t

False

In [39]:
#3. Convert this tuple in set.

m=set(t)

In [40]:
m

{11.2, 12.6, 23.7, 34.8, 45.9}

In [45]:
###8. Create a dictionary of elements: {‘a’: ‘apple’, ‘b’: ‘ball’, ‘c’: ‘cat’, ‘d’: ‘doll’, ‘k’:‘king’} and ,perform following operations.  

d={ 'a':'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k':'king'} 
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king'}

In [46]:
#1. Access the data at key ‘k’.

d['k']

'king'

In [48]:
#2. Add a new values ‘z’: ‘zebra’

d['z']='zebra'
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'k': 'king', 'z': 'zebra'}

In [49]:
#3. Replace the contents of ‘d’ as ‘dog’

d['d']='dog'

In [50]:
d

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog', 'k': 'king', 'z': 'zebra'}

In [51]:
#4. Print all the values from this dictionary.

d.values()

dict_values(['apple', 'ball', 'cat', 'dog', 'king', 'zebra'])

In [52]:
#5. Find the length of this dictionary.

len(d)

6

In [19]:
### 9. Write a program to find the second largest element in a list.

l1=[23,78,45,34,12,90,67,99]
l2=sorted(l1, reverse=True)
print(l2)
second_largest=l2[1]
print('Second largest number is:',second_largest)

[99, 90, 78, 67, 45, 34, 23, 12]
Second largest number is: 90

In [18]:
'''10. This is a list of some metallic elements.
metals = [ 'silver','gold', ... ]
Make a new list that is almost identical to the metals list: the new
contains the same items, in the same order, except that it does NOT
contain the item 'copper'''

metals =["silver","gold","platinum","copper","iron","aluminium"]
metals1 =[]
for n in metals:
    if n!= "copper":
        metals1.append(n)

print(metals1)

['silver', 'gold', 'platinum', 'iron', 'aluminium']