In [1]:
class Employee():       #creating class
    pass

In [2]:
emp1 = Employee()      # creating instance of the class
emp2 = Employee()

In [3]:
print(emp1)
print(emp2)

<__main__.Employee object at 0x0000020687FAB450>
<__main__.Employee object at 0x0000020687FAA690>

In [4]:
# instance variables

emp1.first = 'Payal'
emp1.last = 'Jambhekar'
emp1.salary = 50000

emp2.first = 'Shreesha'
emp2.last = 'Pathare'
emp2.salary = 60000

In [5]:
print(emp1.first)

Payal

In [6]:
print(emp2.salary)

60000

In [7]:
print(emp2.first)

Shreesha

In [8]:
print(emp1.last)

Jambhekar

In [26]:
class Employee():

    def __init__ (self , first , last , salary):    # self doing same work as this keyword
        self.first = first
        self.last = last
        self.salary = salary

    def show(self):
        print(self.first + ' ' + 'OK')

In [29]:
emp1 = Employee('Raj','Thakare',55000)

In [30]:
print(emp1.first)

Raj

In [31]:
emp2 = Employee('suhaani','Pawar',45000)

In [32]:
print(emp2.last)

Pawar

In [33]:
emp1.show()

Raj OK

In [34]:
emp2.show()

suhaani OK

In [35]:
# Encapsulation

In [70]:
class Employee1():

    def __init__ (self , first , last , salary):    # self doing same work as this keyword
        self.first = first
        self.last = last
        self.__salary = salary   # private variable

    def show(self):
        print(self.__salary)

In [71]:
emp3 = Employee1('Payal','Jambhekar',87000)

In [72]:
emp4 = Employee1('Sonal','Pathare',67000)

In [73]:
print(emp3.first)

Payal

In [74]:
print(emp4.salary)

AttributeError: 'Employee1' object has no attribute 'salary'

In [75]:
emp3.show()

87000

In [76]:
# Inheritance

In [77]:
class Employee2(Employee1):   # Employee2=> subclass, employee1=>superclass
    pass

In [78]:
e2 = Employee2('Sarthak','Salke',68000)

In [79]:
e2.show()

68000

In [108]:
class person():
    def __init__ (self,id,first,last,salary,a=90):
        self.id=id
        self.first=first
        self.last=last
        self.salary=salary
        self.age=a

    def show(self):
        print('id=',self.id)
        print('first=',self.first)
        print('last=',self.last)
        print('salary=',self.salary)
        print('age=', self.age)

In [109]:
e1= person(23,'kirti','kotwal',67000,78)

In [110]:
e2= person(16,'sakshi','sali',45000)

In [111]:
e1.show()

id= 23
first= kirti
last= kotwal
salary= 67000
age= 78

In [97]:
print(e1.salary)

67000

In [112]:
e2.show()

id= 16
first= sakshi
last= sali
salary= 45000
age= 90